<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button text="Regresar" defaultHref="/"> </ion-back-button>
    </ion-buttons>
    <ion-title>avatar</ion-title>
    <ion-buttons  slot="end">
      <ion-avatar>
        <img src="/assets/img/stan-lee.jpg">
      </ion-avatar>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-chip color="success" *ngFor="let item of [1,2,3,4,5]">
    <ion-avatar>
        <img src="../../assets/img/stan-lee.jpg" alt="">
    </ion-avatar>
    <ion-label>Stan Lee</ion-label>
  </ion-chip>

  <ion-list>
    <ion-item *ngFor="let item of [1,2,3,4,5,6,7,8,9,10]">
      <ion-avatar slot="start">
          <img src="/assets/img/stan-lee.jpg" alt="">
      </ion-avatar>
      <ion-label>Stan Lee</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
